@model List<DataLibrary.Models.User.user_symptoms>
@{
    ViewBag.Title = "All Symptoms";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}


@using (Html.BeginForm("GetAllSymptoms", "Home"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>All Symptoms stored</h4>
    </div>
    <div>

        @for (int i = 0; i < Model.Count(); i++)
        {
            @Html.HiddenFor(it => it[i].Id)
            @Html.DisplayFor(it => it[i].symptom)
            @Html.HiddenFor(it => it[i].symptom)
            @Html.CheckBoxFor(it => it[i].Checked)
            <br />
        }


        <input id="Submit1" type="submit" value="submit" />
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
