@model List<DataLibrary.Models.User.user_symptoms>
@{
    ViewBag.Title = "Diagnostic";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

@using (Html.BeginForm("GetAllSymptoms", "Home"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Select up to 17 symptoms to get diagnoses </h3>
    </div>
    <div>
    <table>
        <tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(it => it[i].Id)

                <tr>
                    @Html.DisplayFor(it => it[i].symptom)
                
                </tr>

                @Html.HiddenFor(it => it[i].symptom)

                <tr>
                    @Html.CheckBoxFor(it => it[i].Checked)
                    <h4> </h4>
                
                </tr>
            }
        </tr>
    </table>

        @*<tr>
            <th>Month</th>
            <th>Savings</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$80</td>
        </tr>*@
    


        <input id="Submit1" type="submit" value="submit" />
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
